div.exercise { 
    counter-increment: exercises;
    border: 1px solid;
    margin: 1em;
    padding: 1em;
}

div.mainmatter {
    counter-reset: chapter;
}

h1 { 
    counter-reset: exercises;
    counter-increment: chapter;
}

div.exercise:before {
    content: "Exercise " counter(chapter) "." counter(exercises) ". ";
    font-weight:bold;
}

div.definition {
    margin: 1em;
    padding: 1em;
}
div.definition:before {
    content: "Definition. ";
    font-weight:bold;
}

div.definition span.term {
    font-style: italic;
}